* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.grid-row {
	clear: both;
}

.grid-tile {
	height: 3.333333333vw;
	float: left;
	line-height: 3.333333333vw;
	text-align: center;
	width: 3.333333333vw;
}

.water {
	background: aqua;
	border: 1px solid blue;
}