*
    box-sizing border-box

html,
body
    margin 0
    min-height 100%
    padding 0

body
	background url('../images/background.png') 50% 100px no-repeat, linear-gradient(to bottom, #00bfff, #166781) 100%

#resetGame
	visibility hidden

.container
    margin 50px auto 0
    max-width 500px
    min-height 600px
    text-align center