.container
    margin auto
    max-width 700px
    text-align center

.grid
    margin 34px auto 0
    max-width 420px
    position relative

.grid-row
    clear both
    display flex

.grid-tile
    background-repeat no-repeat
    background-size 100%
    color #fff
    cursor pointer
    flex 1
    float left
    font-family sans-serif
    height 91px
    line-height 57px
    margin-top -34px
    position relative
    width 70px

    &:hover
        top -7px

.water
    background-image url('../images/water.png')

.land
    background-image url('../images/land.png')
    color #000

.visited
    background-image url('../images/water_dark.png')

.booty
    background-image url('../images/land-chest.png')

    &.open
        background-image url('../images/land-chest-open.png')

.selected
    opacity 0.75

// the cursor element is separate from the tiles, but still part of the grid
.cursor
    background rgba(200, 30, 30, 0.5)
    height 57px // matching the visible height of the tiles
    margin-top -26px // 8px more than the tile's margin-top because the tile has transparent pixels at the top
    position absolute
    transition top 60ms linear, left 60ms linear
    width 70px
