#game-board

.grid
    text-align center

.grid-row
    display flex

.grid-tile
    cursor pointer
    flex 1
    height 30px

.water
    background aqua
    border 1px solid blue

    &:hover
        background antiquewhite

.visited
    background navy

.cursor
    background white
    border-color red