*
	box-sizing border-box

html,
body
	margin 0
	padding 0

.grid
	text-align center

.grid-row
	display flex

.grid-tile
	cursor pointer
	flex auto
	height 30px

.water
	background aqua
	border 1px solid blue

	&:hover
		background antiquewhite

.cursor
	background white
	border-color red