*
	box-sizing border-box

html,
body
	margin 0
	padding 0

.grid
	text-align center

.grid-row
	clear both
	padding-bottom 3.333333333%
	position relative

.grid-tile
	bottom 0
	cursor pointer
	position absolute
	top 0
	width 3.333333333%

	for num in (0..29)
		&:nth-of-type({num + 1})
			left num * (100/30)%

.water
	background aqua
	border 1px solid blue

	&:hover
		background antiquewhite

.cursor
	background white
	border-color red